body {
    background-color: #000;
    color: #00ff88;
    font-family: monospace;
    text-align: center;
    padding-top: 50px;
}

.container {
    background-color: #111;
    border: 1px solid #00ff88;
    padding: 30px;
    width: 350px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px #00ff88;
}

input {
    width: 90%;
    padding: 10px;
    background: #000;
    border: 1px solid #00ff88;
    color: #00ff88;
    margin-bottom: 15px;
}

button {
    background: #00ff88;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #00cc66;
}

a {
    color: #00ff88;
}
